h1 {
  font-weight: bold;
  font-size: 55px;
  color: white;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.1;
}

ul, ol{
  padding-left: 14px;
}

ul > * {
  font-size: inherit;
}

li {
  font-size: inherit;
}

body {
  font-family: "Archivo";
  margin: 0px;
  background-color: #c0cbce;
  color: #444;
  line-height: 1.6;
}

#paper {
  background-color: white;
  padding: 50px 0px;
}

#paper_content {
  max-width: 1000px;
  margin: 50px auto;
}

#paper > * {
  margin: 1rem auto;
}


#feature h1, #feature p {
  margin-left: 50px;
}

#feature {
padding-bottom:40px;
}

.category {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline;
  padding-bottom: 2px;
  border-bottom: 1px solid;
  color: white;
  font-size: 14px;
}

.top {
    margin-top: 60px;
}

p, ul, ol {
  max-width: 1000px;
  font-size: 18px;
}

.small-print > p {
  max-width: 700px;
  font-size: 14px;
}

table, figure {
 width: 70%;
 margin: 2rem auto;
}

th, td {
  padding: 5px;
  background-color: #e8eced;

}

h1 {
  max-width: 1300px;
  margin-top: 40px;
}

#block{
  margin: 50px;
}

#dropdown {
  background-color: #eee;
  border: 0px solid #444;
  border-radius: 4px;
  padding: 5px;
  font-family: "Archivo";
  font-size: inherit;
  color: inherit;
  margin: 10px 0px;
}

#dropdown > option {
}

a {
  color: #2b6070;
  text-decoration: none;
}

a:hover {
  color: inherit;
}


@font-face {
    font-family: 'Archivo';
    src: url('Archivo-Bold.woff2') format('woff2'),
         url('Archivo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-Medium.woff2') format('woff2'),
         url('Archivo Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
